.fondo
{
    width: 300px;
    height: 150px;
    margin-top: 50px;
    margin: auto;
    background-color: lightgray;
    padding-left: 5px;
    padding-top: 5px;
}

#numeroSocio
{
    background-color: red;
}

.fondo:hover
{
    background-color: gray;
}

#numeroSocio:hover
{
    background-color: green;
}

#pass:focus
{
    background-color:red ;
}


a:hover
{
    color:green;
}

a:visited
{
    color:chartreuse;
}

a:active
{
    color:darkmagenta;
}